@media only screen and (max-width: 576px) {
  .thead {
    display: none !important;
  }

  .trow {
    cursor: pointer !important;
  }

  .td {
    display: block !important;
    position: relative !important;
    padding-left: 160px !important;
    text-align: left !important;
    border-bottom: 0 !important;
    border: 0.5px solid #ccc !important;
  }

  .td::before {
    content: attr(data-heading) !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 120px !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    font-size: 0.75rem !important;
    padding: 0 5px !important;
    justify-content: center !important;
    border-right: 0.5px solid #ccc !important;
    font-weight: bold !important;
  }

  /* ########################### Sidebar ######################################### */
  .listName{
      font-size: 40px !important;
  }

  @media only screen and (max-width: 576px) {
      .list{
          min-width: auto;
      }
  }
}
